@model MyClass.Models.Post

@{
    ViewBag.Title = "Chi tiết Bài viết";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="content-wrapper">

    <section class="content my-2">

        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <strong class="text-danger text-uppercase">
                            Chi Tiết bài Viết
                        </strong>

                    </div>
                    <div class="col-md-6 text-right">
                        <a class="btn btn-sm btn-info" href="@Url.Action("Edit", "Post", new { id=Model.Id })"><i class="fas fa-edit"></i>Chỉnh sửa</a>
                        <a class="btn btn-sm btn-success" href="@Url.Action("Index", "Post")"><i class="fas fa-undo-alt"></i> Quay lại</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <tr>
                        <th style="width:150px">Tiêu Đề</th>
                        <th> Nội dung</th>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Topid)</th>
                        <th>@Html.DisplayFor(model => model.Topid)</th>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Title)</th>
                        <th>@Html.DisplayFor(model => model.Title)</th>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Slug)</th>
                        <th>@Html.DisplayFor(model => model.Slug)</th>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Detail)</th>
                        <th>@Html.Raw(HttpUtility.HtmlDecode(@Model.Detail))</th>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Img)</th>
                        <th>@Html.DisplayFor(model => model.Img)</th>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Metakey)</th>
                        <th>@Html.DisplayFor(model => model.Metakey)</th>
                    </tr>
                    <tr>
                        <th>   @Html.DisplayNameFor(model => model.MetaDesc)</th>
                        <th>@Html.DisplayFor(model => model.MetaDesc)</th>
                    </tr>
                   
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.CreatedBy)</th>
                        <th> @Html.DisplayFor(model => model.CreatedBy)</th>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.CreatedAt)</th>
                        <th>@Html.DisplayFor(model => model.CreatedAt)</th>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.UpdatedBy)</th>
                        <th>@Html.DisplayFor(model => model.UpdatedBy)</th>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.UpdatedAt)th>
                        <th>@Html.DisplayFor(model => model.UpdatedAt)</th>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Status)</th>
                        <th> @Html.DisplayFor(model => model.Status)</th>
                    </tr>
                </table>
               
            </div>

        </div>
    </section>
</div>

