@model IEnumerable<MyClass.Models.PostInfo>

@{
    ViewBag.Title = "Bài Viết";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@section header{
    <link href="~/Public/css/jquery.dataTables.min.css" rel="stylesheet" />

}

@section footer{
    <script src="~/Public/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}

<div class="content-wrapper">

    <section class="content my-2">

        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <strong class="text-danger text-uppercase">
                            Bài Viết
                        </strong>

                    </div>
                    <div class="col-md-6 text-right">
                        <a class="btn btn-sm btn-success" href="@Url.Action("Create","Post")"><i class="fas fa-plus"></i> Thêm</a>
                        <a class="btn btn-sm btn-danger" href="@Url.Action("Trash","Post")"><i class="fas fa-trash"></i> Thùng rác</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                @Html.Partial("Message")
                <table class="table table-bordered table-striped" id="myTable">
                    <thead>
                        <tr>
                            <th class="text-center" style="width:20px;">#</th>

                            <th class="text-center" style="width:100px;">
                                Tiêu Đề
                            </th>
                            <th class="text-center" style="width:100px;">
                                @Html.DisplayNameFor(model => model.Slug)
                            </th>
                            <th class="text-center" style="width:300px;">
                                Hình Ảnh
                            </th>
                            
                            <th style="width:150px;">
                                @Html.DisplayNameFor(model => model.Topid)
                            </th>

                            <th class="text-center" style="width:80px;">
                                Ngày Tạo
                            </th>


                            <th class="text-center" style="width:150px;">Chức năng</th>
                            <th class="text-center" style="width:20px;">ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td class="text-center"> <input type="checkbox" name="checkId" value=" " /> </td>


                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.Slug)
                            </td>

                            <td class="text-center">
                                <img class="img-fix-form" style="width:50%; height:50%;" src="~/Public/images/Post/@Html.DisplayFor(modelItem => item.Img)" />
                            </td>
                            
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.Topid)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.CreatedAt)
                            </td>

                            <td class="text-center">
                                @if (item.Status == 1)
                                {
                                    <a href="@Url.Action("Status", "Post", new { id=item.Id })" class="btn btn-sm btn-success "><i class="fas fa-toggle-on"></i></a>
                                }
                                else
                                {
                                    <a href="@Url.Action("Status", "Post", new { id=item.Id })" class="btn btn-sm btn-danger "><i class="fas fa-toggle-off"></i></a>
                                }
                                <a href="@Url.Action("Edit", "Post", new { id=item.Id })" class="btn btn-sm btn-info ">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a href="@Url.Action("Details", "Post", new { id=item.Id })" class="btn btn-sm btn-warning">
                                    <i class="fas fa-eye"></i>
                                </a>
                                <a href="@Url.Action("Deltrash", "Post", new { id=item.Id })" class="btn btn-sm btn-danger">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>
                            <td> @item.Id</td>

                        </tr>
                        }
                    </tbody>
                </table>


            </div>

        </div>
    </section>
</div>




