@model MyClass.Models.Product

@{
    ViewBag.Title = "Chi Tiết Sản Phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}



<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <section class="content my-2">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <strong class="text-danger text-uppercase">Chi Tiết Sản Phẩm</strong>

                    </div>
                    <div class="col-md-6 text-right">
                        <p>

                            <a class="btn btn-sm btn-info" href="@Url.Action("Edit", "Product", new { id=Model.Id })"><i class="fas fa-edit"></i>Chỉnh sửa</a>
                            <a class="btn btn-sm btn-success" href="@Url.Action("Index", "Product")"><i class="fas fa-undo-alt"></i> Quay lại</a>
                        </p>

                    </div>
                </div>
            </div>
            <div class="card-body my-3">
                <table class="table table-bordered ">
                    <tr>
                        <th style="width:150px">Tiêu Đề</th>
                        <th> Nội dung</th>
                    </tr>
                    <tr>
                        <th> @Html.DisplayNameFor(model => model.Name)</th>
                        <th> @Html.DisplayFor(model => model.Name)</th>
                    </tr>

                    <tr>
                        <th> @Html.DisplayNameFor(model => model.Slug)</th>
                        <th>  @Html.DisplayFor(model => model.Slug)</th>
                    </tr>

                    <tr>
                        <th> @Html.DisplayNameFor(model => model.Detail)</th>
                        <th>@Html.Raw(HttpUtility.HtmlDecode(@Model.Detail))</th>
                    </tr>

                    <tr>
                        <th> @Html.DisplayNameFor(model => model.Img)</th>
                        <th>@Html.DisplayFor(model => model.Img)</th>
                    </tr>

                    <tr>
                        <th>@Html.DisplayNameFor(model => model.CatId)</th>
                        <th>@Html.DisplayFor(model => model.CatId)</th>
                    </tr>

                    <tr>
                        <th>@Html.DisplayNameFor(model => model.ColorId)</th>
                        <th>@Html.DisplayFor(model => model.ColorId)</th>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.TypeProductId)</th>
                        <th>@Html.DisplayFor(model => model.TypeProductId)</th>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.SupplierId)</th>
                        <th>@Html.DisplayFor(model => model.SupplierId)</th>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Number)</th>
                        <th>@Html.DisplayFor(model => model.Number)</th>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Price)</th>
                        <th>@Html.DisplayFor(model => model.Price)</th>
                    </tr>

                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Pricesale)</th>
                        <th>@Html.DisplayFor(model => model.Pricesale)</th>
                    </tr>

                    <tr>
                        <th>@Html.DisplayNameFor(model => model.CreatedBy)</th>
                        <th>@Html.DisplayFor(model => model.CreatedBy)</th>
                    </tr>

                    <tr>
                        <th>@Html.DisplayNameFor(model => model.CreatedAt)</th>
                        <th>@Html.DisplayFor(model => model.CreatedAt)</th>
                    </tr>

                    <tr>
                        <th>@Html.DisplayNameFor(model => model.UpdatedBy)</th>
                        <th>@Html.DisplayFor(model => model.UpdatedBy)</th>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.UpdatedAt)</th>
                        <th>@Html.DisplayFor(model => model.UpdatedAt)</th>
                    </tr>
                    <tr>
                        <th> @Html.DisplayNameFor(model => model.Status)</th>
                        <th> @Html.DisplayFor(model => model.Status)</th>
                    </tr>

                </table>


            </div>

        </div>
    </section>
    <!-- /.content -->
</div>

