@model MyClass.Models.Contact

@{
    ViewBag.Title = "Chi Tiết Liên Hệ";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <section class="content my-2">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <strong class="text-danger text-uppercase">Thông tin chi tiết </strong>

                    </div>
                    <div class="col-md-6 text-right">
                        <a class="btn btn-sm btn-info" href="@Url.Action("Edit", "Contact", new { id=Model.Id })"><i class="fas fa-edit"></i>Chỉnh sửa</a>
                        <a class="btn btn-sm btn-success" href="@Url.Action("", "Contact")"><i class="fas fa-undo-alt"></i> Quay lại</a>
                    </div>
                </div>
            </div>
            <div class="card-body my-3">
                <table class="table table-bordered ">
                    <tr>
                        <th style="width:150px">Tiêu Đề</th>
                        <th> Nội dung</th>
                    </tr>
                    <tr>
                        <th>
                            Họ và tên
                        </th>
                        <th>@Html.DisplayFor(model => model.Fullname)</th>
                    </tr>

                    <tr>
                        <th>Email</th>
                        <th>@Html.DisplayFor(model => model.Email)</th>
                    </tr>

                    <tr>
                        <th>Số điện thoại</th>
                        <th>@Html.DisplayFor(model => model.Phone)</th>
                    </tr>

                    <tr>
                        <th>Tiêu đề</th>
                        <th>@Html.DisplayFor(model => model.Title)</th>
                    </tr>

                    <tr>
                        <th>Nội dung</th>
                        <th>@Html.DisplayFor(model => model.Content)</th>
                    </tr>

                    <tr>
                        <th> Được tạo bởi</th>
                        <th> @Html.DisplayFor(model => model.CreatedBy)</th>
                    </tr>

                    <tr>
                        <th>Ngày tạo</th>
                        <th>  @Html.DisplayFor(model => model.CreatedAt)</th>
                    </tr>
                    <tr>
                        <th>Cập nhật bởi</th>
                        <th>@Html.DisplayFor(model => model.UpdatedBy)</th>
                    </tr>
                    <tr>
                        <th>Cập nhật lúc</th>
                        <th>@Html.DisplayFor(model => model.UpdatedAt)</th>
                    </tr>
                    <tr>
                        <th>Trạng thái</th>
                        <th>@Html.DisplayFor(model => model.Status)</th>
                    </tr>
                </table>
                    
            </div>

        </div>
    </section>
    <!-- /.content -->
</div>
