@model MyClass.Models.Link

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <!-- Main content -->
        <section class="content my-2">

            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <strong class="text-danger text-uppercase">Chỉnh sửa </strong>

                        </div>
                        <div class="col-md-6 text-right">

                            <button class="btn btn-sm btn-danger" type="submit" name="edit"><i class="fas fa-save"></i> Lưu[Cập nhật]</button>
                            <a class="btn btn-sm btn-success" href="@Url.Action("Index", "Link")"><i class="fas fa-undo-alt"></i> Quay lại</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label>Liên Kết<span class="text-danger">(*)</span></label>
                        @Html.EditorFor(model => model.Slug, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Slug, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        <label>Nhập liên kết<span class="text-danger">(*)</span></label>
                        @Html.EditorFor(model => model.TypeLink, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TypeLink, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        <label>Bảng ID<span class="text-danger">(*)</span></label>
                        @Html.EditorFor(model => model.TableId, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TableId, "", new { @class = "text-danger" })

                    </div>

                </div>

            </div>
        </section>
        <!-- /.content -->
    </div>
}

