@model MyClass.Models.OrderDetail

@{
    ViewBag.Title = "Thông tin chi tiết đơn hàng";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content-wrapper">

    <section class="content my-2">

        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <strong class="text-danger text-uppercase">
                            Thông tin chi tiết đơn hàng
                        </strong>

                    </div>
                    <div class="col-md-6 text-right">
                        <a class="btn btn-sm btn-info" href="@Url.Action("Edit", "OrderDetail", new { id=Model.Id })"><i class="fas fa-edit"></i>Chỉnh sửa</a>
                        <a class="btn btn-sm btn-success" href="@Url.Action("", "OrderDetail")"><i class="fas fa-undo-alt"></i> Quay lại</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-bordered ">
                    <tr>
                        <th style="width:150px">Tiêu Đề</th>
                        <th> Nội dung</th>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Orderid)</th>
                        <th> @Html.DisplayFor(model => model.Orderid)</th>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Productid)</th>
                        <th> @Html.DisplayFor(model => model.Productid)</th>
                    </tr>


                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Price)</th>
                        <th> @Html.DisplayFor(model => model.Price)</th>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Sale)</th>
                        <th> @Html.DisplayFor(model => model.Sale)</th>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Quantity)</th>
                        <th> @Html.DisplayFor(model => model.Quantity)</th>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Amount)</th>
                        <th> @Html.DisplayFor(model => model.Amount)</th>
                    </tr>

                </table>
                 
            </div>

        </div>
    </section>
</div>

