@model IEnumerable<MyClass.Models.OrderDetail>

@{
    ViewBag.Title = "Chi tiết đơn hàng";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@section header{
    <link href="~/Public/css/jquery.dataTables.min.css" rel="stylesheet" />

}

@section footer{
    <script src="~/Public/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}
<div class="content-wrapper">

    <section class="content my-2">

        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <strong class="text-danger text-uppercase">
                            Chi Tiết Đơn Hàng
                        </strong>

                    </div>
                    <div class="col-md-6 text-right">
                        <a class="btn btn-sm btn-success" href="@Url.Action("Create","OrderDetail")"><i class="fas fa-plus"></i> Thêm</a>
                        <a class="btn btn-sm btn-danger" href="@Url.Action("Trash","OrderDetail")"><i class="fas fa-trash"></i> Thùng rác</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                @Html.Partial("Message")
                <table class="table table-bordered table-striped" id="myTable">
                    <thead>
                        <tr>
                            <th class="text-center" style="width:20px;">#</th>
                            <th class="text-center" style="width:100px;">
                                @Html.DisplayNameFor(model => model.Orderid)
                            </th>
                            <th class="text-center" style="width:100px;">
                                @Html.DisplayNameFor(model => model.Productid)
                            </th>
                            <th class="text-center" style="width:150px;">
                                @Html.DisplayNameFor(model => model.Price)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Quantity)
                            </th>
                            <th class="text-center" style="width:150px;">
                                @Html.DisplayNameFor(model => model.Sale)
                            </th>
                            <th class="text-center" style="width:200px;">
                                @Html.DisplayNameFor(model => model.Amount)
                            </th>

                            <th class="text-center" style="width:150px;">Chức năng</th>
                            <th class="text-center" style="width:20px;">ID</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                        <tr>
                            <td class="text-center"> <input type="checkbox" name="checkId" value=" " /> </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Orderid)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.Productid)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.Sale)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.Amount)
                            </td>
                            <td class="text-center">

                                <a href="@Url.Action("Edit", "OrderDetail", new { id=item.Id })" class="btn btn-sm btn-info ">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a href="@Url.Action("Details", "OrderDetail", new { id=item.Id })" class="btn btn-sm btn-warning">
                                    <i class="fas fa-eye"></i>
                                </a>
                                <a href="@Url.Action("Delete", "OrderDetail", new { id=item.Id })" class="btn btn-sm btn-danger">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>


                            <td class="text-center">
                                @item.Id
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>


            </div>

        </div>
    </section>
</div>



